<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5">マイページ</h4>
      <div class="d-flex align-items-center">
        <h3><b>登録情報</b></h3>
        link_to
      </div>
      <table class="tabel tabel-bordered">
        <tr>
          <td class="">氏名</td>
          <td><%= 変数 %></td>
        </tr>
        <tr>
          <td class="">カナ</td>
          <td><%= 変数 ></td>
        </tr>
      </table>
    </div>
  </div>
</div>