<div class= "container">

  <div class= "row">
    <div class="mx-auto">
      <div class="p-3">
        <h1>About</h1>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <p class="text-center">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバージョンを用意してあります。<br>
        また、全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </p>
    </div>
    <div class="col-lg-1"></div>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto">
      <div class="p-4">
        <%= image_tag 'cake_shop.png', :size => '200x200' %>
      </div>
    </div>
  </div>
  
  

</div>