<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="mt-4">
        <P>ジャンルが入る</P>
        <%#= render "", %>
      </div>
    </div>
    
    <div class="col-lg-9">
      <div class="row">
        <div class="m-5">
        <span>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </span>
        </div>
      </div>
      
      <div class="row">
        <h3>新着商品</h3>
      </div>
    
      <div class="row">
        <% @new_items.each do |item| %>
          <div class="col-lg-3">
            <table>
                <%= image_tag item.get_item_image(80,50) %>
                <%= item.name %>
                <%= item.price %>
            </table>
          </div>
        <% end %>
      </div>
      
      <div class="row">
        <%= link_to "すべての商品を見る>", public_items_path %>
      </div>
      
      
    </div>
  </div>
</div>