<div class="container">
  <div class="row">
    <h4>注文履歴詳細</h4>
  </div>
  
  <div class="row">
    <table>
      <tr>
        <th>購入者</th>
        <td><%= @customer.full_name %></td>
      </tr>
      
      <tr>
        <th>注文日</th>
        <td></td>
      </tr>
      
      <tr></tr>
      
    </table>
  </div>
</div>