<style>
  .table td{border-style:none;}
</style>

<div class="container">
  <div class="row">
    <div class="col-10">
<table class="table table-bordered" >
  <thead>
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
<<<<<<< HEAD
    <% genres.each do |genre| %>
    <td><%= genre.name %></td>
    <% end %>
=======
    <tr>
    <td><% genres.each do |genre| %>
    <div><%= genre.name %></div>
    <% end %></td>
    </tr>
>>>>>>> 27e4aafaf3af251960a5400b79913a7e84b39833
  </tbody>
</table>

</div>
</div>
</div>